<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>Just a trail connection
    </h2>
    <form action="/trail" method="POST">
        <input type="submit" value="Balance">
    </form>
    <br> <h3> Balance is <%= balance %></h3>

    <form action="/transact" method="POST">
        
    </form>
    
</body>
</html>